langchain
langchain-core
langchain-community

langgraph

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai

openai
google-generativeai
groq
mistralai

faiss-cpu
tiktoken

fastapi
uvicorn

python-dotenv
pydantic
requests

beautifulsoup4
lxml

pypdf
pymupdf

numpy
pandas

sentence-transformers